<!DOCTYPE html>
<html lang="ru-RU">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>How To Code</title>

   <!-- CSS Styles -->
   <!-- Подключаем стили, делаем это при помощи функции url_for Фласка, функция принимает на вход название папки и путь/имя файла в этой папке -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

   <!-- Startup scripts -->
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.touchSwipe.min.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

   <!-- Картинка, которая отображается в заголовке страницы -->
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
   <!-- Main container -->
   <!-- Весь контент видимый пользователем мы заключаем в это контейнер -->
   <div class="nav-container">
      <div id="sidebar">
         <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/articles">Статьи</a></li>
            <li><a href="/video">Видеоуроки</a></li>
            <li><a href="/contact">Контакты</a></li>
         </ul>
      </div>
      <div class="main-content">
         <div class="swipe-area"></div>
            <a href="#" data-toggle=".nav-container" id="sidebar-toggle">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
            </a>

         <div class="content">

            {% block body %}{% endblock %}

         </div>

         <footer>
            <small>&copy; 2016 - 2017 Island of freedom crew</small>
         </footer>

      </div>
   </div>
		
   <!-- А тут подключатся будут скрипты, jQuery, Метрику потом забахаем -->
</body>
</html>
